
body {
    margin: 0;
    background-color: #0C161C;
}

.main_section {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.section_tit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin-left: 15px;
}
.caja {
    margin-left: 10px;
    width: 300px;
}

.caja_img {
    width: 300px;
}
.caja_h3 {
    margin: 0;
    margin-top: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.caja_txt {
    margin: 0;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.584);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
